/*
 * Globals
 */

@font-face {
    font-family: Avenir;
    src: url("AvenirLTStd-Book.otf") format("opentype");
}

/* Links */
a,
a:focus,
a:hover {
  color: #666;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
}
body {
  color: #111;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,50,.1);
          box-shadow: inset 0 0 5rem rgba(0,0,50,.1);
}
#one {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}

/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}


/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Start the vertical centering */
  #one {
    vertical-align: middle;
  }
  /* Handle the widths */
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .cover-container {
    width: 42rem;
  }
}



.r-name {
  font-family: Avenir;
  margin-top: 30pt;
  margin-bottom: 30pt;
}

.r-i-am {
  font-size: .4em;
  word-spacing: 10px;
}

.r-subtitle {
  font-family: 'Source Code Pro', monospace;
  margin: 30pt auto;
}

.r-continue {
  font-family: 'Source Code Pro', monospace;
  font-size: 1.2em;
}


.r-header img {
  height: 50px;
  width: 50px;
  object-fit: contain;
  border-radius: 25px;

}

.r-life-story h4{
  margin-top:120px;
  margin-bottom:20px;
  font-family: Avenir;
}

.r-life-story h4.first{
  margin-top:10px;
}

.r-life-story h4.section{
  margin-bottom:30px;
}

.r-life-story>div>ul {
  font-family: 'Source Code Pro', monospace;
  list-style: none;
}

.r-life-story>div>ul>li:before {
  content: ">";
  padding-right: 15px;
}

.r-life-story li>ul {
  list-style: none;
}
.r-life-story li>ul>li:before {
  content: "";
  padding-right: 15px;
}

.r-li-line2:before{
  content: "";
  padding-right: 25px;
}

.r-insta-images img{
  height:200px;
  margin-right:10px;
  margin-bottom:10px;
}

.r-insta-images p {
  margin: 10px 0;
  margin-top: 20px;
  font-family: Avenir;
}


#ski-gif {
  height:400px;
  margin-bottom: 40px;
}

.r-medium-articles>a>div {
  display: inline-block;
  color: rgba(0,0,0,.84);
  border: .5px solid #ccc;
  border-radius: 4px;
  padding: 15px 20px;
}
.r-medium-articles>a>div>h1 {
  font-size:24px;
  font-weight:600;
  color: rgba(0,0,0,.84);
}

.r-medium-articles>a>div>h2 {
  font-size:18px;
  color: rgba(0,0,0,.54);
}

.r-medium-articles>a>div>p {
  font-size:12px;
  color: rgba(0,0,0,.84);
  max-width:720px;
  margin-bottom:0;
}


.r-cool-links {
  font-family: 'Source Code Pro', monospace;
}

.r-link-desc{
  font-size: .8em;
}

.r-link-desc::before{
  content: " // ";
  padding-left: 20px;
}

.r-cool-links>h3 {
  margin-top:40px;
}


.r-popover {
  vertical-align:baseline;
  padding:0;
}


/* BLINKING CURSOR */

.blinking-cursor {
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #111;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #111;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #111;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #111;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #111;
  }
}



#two {
  display:none;
  opacity: 0;
}
